header {
  display: flex;
  justify-content: space-between;
  background-color: #E1BCBC;
  color: #fff;
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  font-family: 'Amatic SC', cursive;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.mt {
  margin-top: 80px;
}

.icon {
  height: 60px;
  padding-right: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header-left span {
  font-size: 42px;
  font-family: 'Amatic SC', cursive;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.header-right li {
  margin-left: 40px;
}

.welcome {
  background-image: url(img/coffee-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 100px 0;
}

.title {
  font-size: 64px;
  margin-left: 60px;
  text-shadow: #B39B9B 2px 2px 0px;

}

.btn-group {
  margin-top: 100px;
}

.btn {
  height: 200px;
  width: 200px;
  font-size: 32px;
  border-radius: 50%;
  margin-left: 150px;
  color: #fff;
  cursor: pointer;
}

.book {
  background-color: rgba(246, 169, 151, .5);
  border-color: rgba(246, 169, 151, .5);
}

.book:hover {
  background-color: rgb(246,169, 151);
}

.gift {
  background-color: rgba(203, 183, 248, .5);
  border-color: rgba(203, 183, 248, .5);
}

.gift:hover {
  background-color: rgb(203, 183, 248);
}

.enjoy {
  background-color: #AD9E9E;
  justify-content: center;
  color: #fff;
  padding: 50px 0;
}

.subtitle {
  text-align: center;
  font-size: 36px;
  text-shadow: #B39B9B 2px 2px 0px;
}

.drink {
  display: flex;
  justify-content: center;
}

.drink li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 100px;
}

.drink li:first-child {
  margin-left: 0;
}

.food {
  display: flex;
  justify-content: center;
}

.food li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 100px;
}

.food li:first-child {
  margin-left: 0;
}

.menu img {
  height: 250px;
  width: 400px;
  margin-top: 30px;
}

.menu p {
  font-size: 24px;
  margin-top: 15px;
}

.message {
  background-image: url(img/coffee_ft.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:80px 0 60px;
}

.message h2 {
  font-size: 36px;
  color: #fff;
  text-shadow: #B39B9B 2px 2px 0px;
}

.message .form {
  margin: 50px 0 40px;
  display: flex;
  justify-content: center;
}

.form-left {
  margin-right: 50px;
}

.form .name,
.form .email {
  height: 50px;
  width: 300px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form .name {
  margin-bottom: 30px;
}

.form .inquiry {
  height: 130px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
}

.send {
  background-color: #DB7272;
  color: #fff;
  border: 3px solid #DB7272;
  padding: 10px 30px;
  font-size: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  transition-duration: 800ms;
  cursor: pointer;
}

.send:hover {
  background-color: #AD9E9E;
  transition-duration: 800ms;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #E0AAAA;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  align-items: center;
  font-family: 'Amatic SC', cursive;
 
}

.footer-left {
  font-size: 42px;
  display: flex;
  align-items: center;
}
